---
const portfolio = [
  {
    slug: '01',
    title: 'University of Ostrava',
    year: '2021 - present',
    fieldOfStudy: "Bachelor's degree, Software Systems",
    description: `I have been expanding my general knowledge about software <br />
    development, databases, and web development. Currently, I am immersed in my <br />
    bachelor's thesis, titled "Digitization of school timetables for teaching rooms," <br />
    where I am exploring the realm of IoT, microcontrollers, and embedded systems, <br />
    and connecting them to the web.
    `,
  },
  {
    slug: '02',
    title: 'SPŠEI Ostrava',
    year: '2017 - 2021',
    fieldOfStudy: 'Network technology',
    description: `During four years of high school, my focus was primarily on advanced <br />
    networking with Cisco devices and programming in C/C++.`,
  },
];
---

<section class="py-10 md:py-16">
  <div class="container mx-auto max-w-screen-xl px-4">
    <div class="mb-5 flex flex-col justify-between lg:flex-row">
      <div class="mb-10 lg:mb-0">
        <h2 class="mb-5 text-3xl font-medium text-gray-700 dark:text-gray-200">Education</h2>

        <p class="text-base font-normal text-gray-500 dark:text-gray-400">
          About my academic journey and what I've learned so far.
        </p>
      </div>

      <div class="space-y-6 lg:space-y-24">
        {
          portfolio.map(({ slug, title, year, fieldOfStudy, description }) => (
            <div class="flex space-x-6">
              <h3 class="text-3xl font-normal text-gray-700 dark:text-gray-200">{slug}</h3>

              <span class="mt-5 h-0.5 w-28 bg-gray-300 dark:bg-gray-600" />

              <div>
                <h4 class="mb-1 text-xl font-normal text-gray-700 dark:text-gray-200">{title}</h4>
                <p class="text-sm font-normal text-gray-500 dark:text-gray-400">{fieldOfStudy}</p>
                <p class="mb-2 text-sm font-normal text-gray-500 dark:text-gray-400">{year}</p>

                <p class="text-sm font-normal text-gray-500 dark:text-gray-400" set:html={description} />
              </div>
            </div>
          ))
        }
      </div>
    </div>

    <div class="text-center md:mx-auto md:w-4/5">
      <p class="text-base font-normal text-gray-500 dark:text-gray-400">
        I am proficient in both written and spoken English, having learned it since a young age.
      </p>
      <p class="text-base font-normal text-gray-500 dark:text-gray-400">In 12/2018 I passed the Cabridge FCE exam.</p>
    </div>
  </div>
</section>
