---
import { Image } from 'astro:assets';
import vsbImage from '@/images/projects/vsb.webp';
import lemenioImage from '@/images/projects/lemenio.png';
import datinnImage from '@/images/projects/datinn.png';

const education = [
  {
    year: '2/2022 - 4/2022',
    image: vsbImage,
    position: 'Mobile App Developer',
    company: 'VŠB',
    description: `<span class="not-italic">👨‍🎓</span> New app for university students. VŠB APP </br>
    I was introduced to an app in a terrible state, requiring a ground-up rewrite.
    I proceeded to develop new features and release the first version of the app <span class="not-italic">🎉</span>. </br>
    Built with TypeScript, React Native and Expo.
    `,
  },
  {
    year: '8/2022 - 4/2023',
    image: lemenioImage,
    position: 'Full-Stack Developer',
    company: 'Lemenio',
    description: `<span class="not-italic">🏫</span> Design and development 'from scratch' of learning system for students and teachers of a language school. </br>
    <span class="not-italic">👨‍💻</span> Technologies: TypeScript, React, Tailwind CSS, NextJS, tRPC, Docker, PostgreSQL </br>
    <span class="not-italic">📝</span> My responsibilities included overall system architecture design, feature design and development, deployment, and the initial launch <span class="not-italic">🚀</span>.`,
  },
  {
    year: '9/2023 - present',
    image: datinnImage,
    position: 'Mobile App Developer',
    company: 'Datinn',
    description: `<span class="not-italic">🔥</span> New app in the field of dating. I joined the "Datinn" project at a crucial stage, just before its anticipated release. </br>
    <span class="not-italic">📝</span> My primary focus was on enhancing the app's stability and resolving any lingering issues to ensure a smooth user experience upon launch <span class="not-italic">🚀</span>. </br>
    Afterwards, I was responsible for developing new features, implementing new designs, and overall app maintenance. </br>
    Built with TypeScript, React Native and Expo.
`,
  },
];
---

<section class="py-10 md:py-16">
  <div class="container mx-auto max-w-screen-xl px-4">
    <h2 class="mb-5 text-3xl font-medium text-gray-700 dark:text-gray-200">Projects</h2>

    <p class="mb-8 text-base font-normal text-gray-500 dark:text-gray-400">
      Sometimes, I engage in external passion projects, bringing a touch of enjoyment to my coding pursuits. Here are
      some of my favorites.
    </p>

    <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
      {
        education.reverse().map(({ year, image, position, company, description }) => (
          <div class="rounded-md bg-gray-50 px-8 py-10 dark:bg-gray-900">
            <div
              style={{
                height: '12rem',
              }}>
              <Image
                src={image}
                alt={`${company} project`}
                class="mx-auto mb-2 h-auto w-auto"
                style={{
                  maxHeight: '100%',
                }}
              />
            </div>
            <time class="mb-1 text-sm font-normal text-gray-400 dark:text-gray-500">{year}</time>
            <h3 class="text-xl font-semibold text-gray-600 dark:text-gray-300">{position}</h3>
            <p class="mb-1 text-sm font-normal text-gray-400 dark:text-gray-500">{company}</p>

            <p class="mb-4 text-sm font-normal italic text-gray-500 dark:text-gray-400" set:html={description} />
          </div>
        ))
      }
    </div>
  </div>
</section>
