---
import '@/styles/base.css';

interface Props {
  title: string;
  description: string;
  image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, image = 'dark-mode-favicon.png' } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/png" media="(prefers-color-scheme: light)" href="/light-mode-favicon.png" />
    <link rel="icon" type="image/png" media="(prefers-color-scheme: dark)" href="/dark-mode-favicon.png" />
    <meta name="generator" content={Astro.generator} />

    <!-- Font preloads -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,500;0,600;1,400&display=block"
      as="style"
      rel="stylesheet"
    />

    <!-- Canonical URL -->
    <link rel="canonical" href={canonicalURL} />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="author" content="Marek Sokol" />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- Open Graph / Facebook -->
    <meta property="og:site_name" content={title} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:image" content={new URL(image, Astro.url)} />

    <!-- Twitter -->
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:image" content={new URL(image, Astro.url)} />
  </head>
  <body
    class:list={[
      'min-h-screen font-serif',
      'bg-gray-100 dark:bg-gray-800',
      'selection:bg-gray-200 dark:selection:bg-gray-700',
      'selection:text-gray-900 dark:selection:text-gray-50',
    ]}>
    <slot />
  </body>
</html>
